<%- layout('layouts/main.ejs') %>
    <div class="container rounded bg-white mt-2 mb-2">
        <div class="row justify-content-center">
            <div class="col-md-3 border-right ml-4">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img id="preview"
                        class="rounded-circle mt-5 mb-4" width="150px" height="150px" src="<%= persona.urlimage %>">
                    <div>
                        <label for="formFile" class="btn btn-outline-primary">Cambiar Foto</label>
                    </div>

                    <span class="font-weight-bold mt-4">
                        <%= persona.nombre+" "+persona.apellido %> </span><span
                        class=" text-black-50">
                            <%= user.email %>
                    </span> <span class="text-black-50">Cedula: <%= persona.cedula%></span><span> <span
                            class="text-black-50">Edad: <%= edad %></span><span></span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <form action="/perfil" method="POST" enctype="multipart/form-data">
                        <input type="file" id="formFile" name="image" style="visibility: hidden;">
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Nombre</label><input type="text" name="nombre"
                                    class="form-control" value="<%= persona.nombre %>"></div>
                            <div class="col-md-6"><label class="labels">Apellido</label><input type="text"
                                    name="apellido" class="form-control" value="<%= persona.apellido %>"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Fecha de Nacimiento</label><input type="date"
                                    name="nacimiento" class="form-control" value="<%= persona.nacimiento %>"
                                    min="1922-01-01" max="2010-12-31"></div>
                            <div class="col-md-12"><label class="labels">Telefono</label><input type="tel"
                                    name="telefono" class="form-control" value="<%= persona.telefono %>"></div>
                            <div class="col-md-12"><label class="labels">Email</label><input type="text" name="email"
                                    class="form-control" value="<%= user.email %>"></div>
                            <% if(persona.cedula==""){ %>
                                <div class="col-md-12"><label class="labels">Cedula</label><input type="text" name="cedula"
                                    class="form-control" value="<%= persona.cedula %>"></div>
                            <% } %>
                            
                            <div class="col-md-12"><label class="labels">Contraseña</label><input type="text"
                                    name="password" class="form-control" value="<%= user.password %>"></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="text-center"><button class="btn btn-primary profile-button mt-4"
                                    type="submit">Guardar</button></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <script src="../public/javascript/preview.js"></script>