<%- layout('layouts/main.ejs') %>

    <form action="/reservar" method="POST">
        <div class="card mt-4">
            <div class="card-header">
                <h2>Selecciona un Servicio</h2>
            </div>
            <div class="card-body text-center">
                <% ServiciosLista.forEach(function (servicio, i) { %>
                    <div class="card mt-2">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-1">
                                <input type="radio" class="btn-check" name="btnRadio" id="<%= 'radioS'+i %>"
                                    autocomplete="off" checked="checked" value="<%= i %>">
                                <label class="btn btn-outline-primary" for="<%= 'radioS'+i %>"></label>
                            </div>
                            <div class="col-2">
                                <img src="<%= servicio.urlimage %>" width="100px" height="100px" alt="img">
                            </div>
                            <div class="col-3">
                                <h2>
                                    <%= servicio.nombre %>
                                </h2>
                            </div>
                            <div class="col-4">
                                <p class="justify-content-md-center">
                                    <%= servicio.descripcion %>
                                </p>
                            </div>
                            <div class="col-1">
                                <p>
                                    <%= "$" + servicio.precio %>
                                </p>
                            </div>
                        </div>
                    </div>

                    <% }); %>
            </div>

        <div class="row justify-content-center mb-4">
            <div class="text-center">
                <button class="btn btn-primary profile-button mt-4" type="submit">Reservar</button>
            </div>
    </form>