<%- layout('layouts/main.ejs') %>

    <% if(listaCitas.length> 0){ %>
        <script>
            var lista = '<%- JSON.stringify(listaCitas);  %>'
            var listaEmpleados = '<%- JSON.stringify(personaEmpleados);  %>'
            sessionStorage.setItem("listaCitas", lista);
            sessionStorage.setItem("listaEmpleados", listaEmpleados);
        </script>
    <% }else{ %>
        <script>
            sessionStorage.clear();
        </script>
    <% } %>

    <form action="/seleccionar-empleado" method="POST">
        <div class="card mt-2">
            <div class="card-header">
                <h3>Selecciona un Empleado</h3>
            </div>
            <div class="card-body">
                <% personaEmpleados.forEach(function(empleado, i) { %>
                    <div class="card mt-2">
                        <div class="row text-center align-items-center">
                            <div class="col-1">
                                <input type="radio" class="btn-check" name="btnradio" id="<%= 'radioS'+i %>"
                                    autocomplete="off" checked value="<%= i %>" required>
                                <label class="btn btn-outline-primary" for="<%= 'radioS'+i %>"></label>
                            </div>
                            <div class="col-2">
                                <img src="<%= empleado.urlimage %>" width="100px" height="100px" alt="img">
                            </div>
                            <div class="col-2">
                                <h3>
                                    <%= empleado.nombre+" "+empleado.apellido %>
                            </h3>
                        </div>
                        <div class=" col-3">
                                        <p class="justify-content-md-center">
                                            <%= empleado.telefono %>
                                        </p>
                            </div>
                            <div class="col-4">
                                <p>
                                    <%= userEmpleados[i].email %>
                                </p>
                            </div>
                        </div>
                    </div>

                    <% }); %>
            </div>
            <div class="card-header">
                <h3>Selecciona fecha de cita</h3>
            </div>
            <div class="card-body ">
                <div class="row justify-content-center align-items-center">
                    <div class="col">
                        <label for="selFecha">Seleccionar Fecha</label>
                        <input class="form-control" type="date" id="selFecha" name="fecha" min="" max="" required>
                        <!-- <script>
                            var today = new Date();
                            var dd = today.getDate()+1;
                            var mm = today.getMonth() + 1; //January is 0!
                            var yyyy = today.getFullYear();

                            if (dd < 10) {
                                dd = '0' + dd;
                            }

                            if (mm < 10) {
                                mm = '0' + mm;
                            }

                            today = yyyy + '-' + mm + '-' + dd;
                            document.getElementById("selFecha").setAttribute("min", today);
                        </script> -->
                    </div>

                    <div class="col">
                        <label for="selHora">Seleccionar Hora</label>
                        <select id="selHora" name="hora" class="form-select mt-2" aria-label="Default select example"
                            required>
                        </select>
                    </div>
                    <input type="hidden" name="servicio" value="<%= selServicios %>">
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            <div class="text-center">
                <button class="btn btn-primary profile-button mt-4" type="submit">Reservar</button>
            </div>
    </form>

    <script src="../public/javascript/adminFechas.js"></script>