<%- layout('./layouts/main.ejs') %>
    <% if(listaServicios.length> 0){ %>
        <script>
            var lista = '<%- JSON.stringify(listaServicios);  %>'
            sessionStorage.setItem("listaServicios", lista);
        </script>
        <% }else{ %>
            <script>
                sessionStorage.clear();
            </script>
            <% } %>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar Servicios</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <form action="/editar/servicio" method="POST" enctype="multipart/form-data" autocomplete="off">
                                    <input id="modalPosicion" type="hidden" name="posicion">
                                    <div class="form-group">
                                        <input id="modalNombre" type="text" name="nombre" placeholder="Nombre"
                                            class="form-control mt-2" required>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control mt-2" id="modalDescripcion" name="descripcion" placeholder="Descripción" rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text mt-2">$</span>
                                            <input id="modalPrecio" type="number" name="precio" min="3.00" max="100.00"
                                                step="0.01" class="form-control mt-2"
                                                aria-label="Amount (to the nearest dollar)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <img id="modalImg" src="#" width="300" height="200"
                                            class="rounded mx-auto d-block" alt="Preview">
                                        <label for="mformFile" class="form-label mt-4">Selecciona una imagen para
                                            servicio</label>
                                        <input type="file" id="mformFile" name="image" class="form-control">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success text-center"
                                            data-bs-dismiss="modal">Actualizar</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6">
                        <div class="card mt-4 text-center">
                            <div class="card-header">
                                <h3>Registrar Servicios</h3>
                            </div>
                            <div class="card-body">
                                <form action="/agregar/servicio" method="POST" enctype="multipart/form-data" autocomplete="off">

                                    <div class="form-group">
                                        <input type="text" name="nombre" placeholder="Nombre" class="form-control mt-2"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control mt-2" name="descripcion" placeholder="Descripción" rows="2" required></textarea>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text mt-2">$</span>
                                            <input type="number" name="precio" min="3.00" max="100.00" step="0.01"
                                                class="form-control mt-2" aria-label="Amount" placeholder="Precio" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <img src="../../public/images/waiting.gif" id="preview" width="300" height="250"
                                            class="rounded mx-auto d-block" alt="Preview">
                                        <label for="formFile" class="form-label mt-4">Selecciona una imagen para
                                            servicio</label>
                                        <input type="file" id="formFile" name="image" class="form-control" required>
                                    </div>

                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-primary btn-block mt-4">Aceptar</button>
                                    </div>


                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="overflow-auto">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-sm text-center">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Descripción</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Editar</th>
                                            <th scope="col">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% listaServicios.forEach(function (servicio, i) { %>
                                            <tr>
                                                <td>
                                                    <%= servicio.nombre %>
                                                </td>
                                                <td>
                                                    <%= servicio.descripcion %>
                                                </td>
                                                <td>
                                                    <%= servicio.precio %>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal"><i class="fas fa-edit"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <form action="/eliminar/servicio" method="POST" autocomplete="off">

                                                        <input type="hidden" value="<%= i %>" name="posicion">
                                                        <button type="submit" class="btn btn-danger"><i
                                                                class="far fa-trash-alt"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="../public/javascript/preview.js"></script>
                <script src="../public/javascript/adminServicio.js"></script>